*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.calc{
    width: 350px;
    height: 600px;
    border: 2px solid black;   
    padding: 20px;
    align-items: center;
    background-color: #E8EBE4;
    border-radius: 20px;
}
.screen{
    border: 2px solid black;
    height: 120px;
    margin-bottom: 20px;
    background-color: #D2D5DD;
    
}
.top-screen{
    height: 50px;
}
.bottom-screen{
    height: 70px;
    text-align: right;
    font-size: 55px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.button-block{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.span-2{
    grid-column: span 2;
}
.btn {
    background-color: #A8D0DB;
    font-size: 20px;
}

.btn:hover {
    background-color: #7180AC;
    cursor: pointer;
}

.btn:active{
    background-color: #2B4570;
}

.opp{
    background-color: #E49273;
}

.opp:hover {
    background-color: #A37A74;
    cursor: pointer;
}

.opp:active{
    background-color: #2B4570;
}

.other {
    background-color: #999AC6;
}

.other:hover {
    background-color: #B8BACF;
    cursor: pointer;
}

.other:active{
    background-color: #2B4570;
}